.card-container {
    
    display: flex;
    flex-direction: column;
    gap: 100px; 
    margin: 0 auto; 
    max-width: 500px; 
    min-width: 400px; 
    

  }
  
  .card {
    background-color: rgb(255, 255, 255);
    

  }
  

  